<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905328724441-2nr0hngfjco5vdr6cajg5kifmvcs9hv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905328724441-2nr0hngfjco5vdr6cajg5kifmvcs9hv0</string>
	<key>API_KEY</key>
	<string>AIzaSyBSaCTEbwz4uBdFeaNnvF1YZJFgjyvJUsc</string>
	<key>GCM_SENDER_ID</key>
	<string>905328724441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tul.shoppingCart</string>
	<key>PROJECT_ID</key>
	<string>shopping-cart-6f91b</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-cart-6f91b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905328724441:ios:eac0266be581bb9d10f1c8</string>
</dict>
</plist>